.form {
  &__block {
    margin-bottom: 10px;
    &-legend {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    &-data {
      max-width: 500px;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}

