.form {
  &__block {
    margin-bottom: 10px;
    &-text {
      text-align: left;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    &-data {
      display: flex;
      max-width: 500px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: left;
    }
  }
}

