.form {
  &__block {
    margin-bottom: 10px;
    &-text {
      text-align: center;
      margin-bottom: 20px;
    }
    &-select {
      .selected-rating {
        &__selected-star {
          padding: 25px 0;
          margin: 30px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}

.icon {
  cursor: pointer;
  margin: 30px 0;
}