@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ul, li {
  list-style: none;
}

a {
  display: block;
}

fieldset {
  padding: 0;
  border: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.app {
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
  }
}