$progress-indeterminate-duration: none;
$progress-border-radius: 10px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import '~bulma';

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

fieldset {
  padding: 0;
  border: none;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px;
  &__welcome {
    margin: 25% 0;
    &-title {
      margin: 20px 0 50px;
    }
    &-text {
      margin-bottom: 30px;
    }
  }
  &__title {
    text-align: center;
    margin: 20px 0 50px;
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__done {
    margin: 25% 0;
    &-img {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  /* стили для больших планшетов - начало */
  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  /* стили для средних планшетов - начало */
  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 570px) {
  .form {
    &__progress {
      left: 0;
    }
  }
}


@media screen and (max-width: 515px) {
  .form {
    &__answer {
      max-width: none;
    }
  }
}

@media screen and (max-width: 480px) {
  /* стили для телефонов - начало */
  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }
}